<!DOCTYPE html>
<html>
<head>
    <title>
        <%= pageTitle %> 
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/navbar.css">
</head>

<body >
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://selecao.ifms.edu.br/perfil/estudantes/estudante-exame-de-selecao-2024-tecnico-integrado-edital-062-2023">FAQ</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

