<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleção IFMS 2023</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/about.css" />
</head>

<body>
    <div id="conteiner">
        <div id="primary-container">
            <img id="primary-img" class="img-about" src="images/8.png" alt="" />
            <div class="base-container">
                <h2>Período de inscrição 11/08 á 27/09</h2>
                <p>
                    O prazo segue aberto até 27 de setembro, pela Página do Candidato. Só serão aceitas inscrições
                    feitas
                    com o CPF e demais dados do próprio candidato. O valor da taxa é de R$ 20, gerada no próprio sistema
                    da Central de Seleção.
                    O pedido de isenção deve ser feito no ato da inscrição na Página do Candidato da Central de Seleção,
                    selecionando o item 'Isento' no campo 'Forma de Inscrição' no sistema, devendo ser anexado o
                    documento comprobatório. Para concorrer a uma vaga em um curso técnico integrado do IFMS é
                    necessário ter concluído o ensino
                    fundamental ou equivalente até a data da matrícula, prevista para janeiro do ano que vem, além de
                    possuir o Cadastro de Pessoa Física (CPF) em seu nome.
                </p>
                <div id="button-start"><a href="https://selecao.ifms.edu.br/perfil/estudantes/estudante-exame-de-selecao-2024-tecnico-integrado-edital-062-2023">FAQ!</a></div>
            </div>
            <div id="second-container">
                <img id="second-img" class="img-about" src="images/0.jpeg" alt="" />
                <div class="base-container">
                    <h2>Avaliação e cursos</h2>
                    <p>
                        A prova será composta por 30 questões de múltipla escolha, sendo 10 de língua portuguesa, 10 de
                        matemática e 10 de conhecimentos gerais, conforme conteúdo programático disponibilizado no
                        edital (Anexo X). A previsão é de que resultado final e a primeira chamada sejam publicados no dia 20 de dezembro,
                        com matrículas em janeiro de 2024. Cursos - Com duração de três anos, nesse tipo de curso o estudante tem a oportunidade de cursar,
                        ao mesmo tempo, o ensino médio regular e a formação profissional e técnica escolhida.
                        Após se formar, o diploma possibilitará o ingresso na universidade ou no mundo do trabalho.
                        Em caso de dúvidas, o contato com a Comissão Central do Exame de Seleção 2024 deve ser feito
                        pelo e-mail
                    </p>
                    <div id="button-start"><a href="https://selecao.ifms.edu.br/perfil/estudantes/estudante-exame-de-selecao-2024-tecnico-integrado-edital-062-2023">FAÇA A INSCRIÇÃO!</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="base-bg" class="main" >
        <img class="istart"  src="images/svg/bg.svg">
    </div>''
    <%- include('../components/navbar.ejs'); -%>
    <%- include('../components/footer.ejs'); -%>
</body>

</html>