<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção IFMS 2023</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/contato.css">
</head>
<body>
    <%- include('../components/navbar.ejs'); -%>    
    <div id="primary-container">
        <img src="" alt="">
        <h2>titulo</h2>
        <p>tenti cubilia aliquam tristique volutpat faucibus porta mauris quis proin, tempus ut nostra etiam vel ornare ad aliquam dolor, nam nullam etiam facilisis curabitur nibh scelerisque a. cursus malesuada luctus pretium cras odio platea nulla cursus, nostra iaculis cubilia risus ut tempor aenean, luctus velit magna ipsum augue aliquam class. dapibus mollis per neque feugiat ornare sagittis facilisis fames vivamus pharetra at nostra semper vel quisque, augue phasellus eu vivamus litora auctor sollicitudin a eget morbi senectus volutpat nullam pharetra. ad fringilla massa augue nostra habitant phasellus taciti diam inceptos, suspendisse pretium ligula duis scelerisque augue sit aliquet eros, mauris donec ornare cursus ornare volutpat hendrerit tellus. </p>
    </div>

    <div id="second-container">
        <img src="" alt="">
        <h2>titulo 2</h2>
        <p>Laoreet sem scelerisque mi tempus a hac urna phasellus tempor donec, urna pretium aptent elit tempus dolor dictumst est consectetur tempor, curabitur etiam felis cras arcu magna tellus proin duis. nostra malesuada lacinia erat litora sit convallis, scelerisque enim varius tellus eget phasellus nam, et cras auctor hendrerit vehicula. taciti neque posuere fringilla dapibus tincidunt sagittis at conubia, sit neque vivamus ullamcorper senectus aliquet et sociosqu elementum, purus curabitur vel dapibus cubilia mollis phasellus. ligula faucibus euismod dictumst risus euismod sed, cras dictum elementum purus per egestas quisque, molestie himenaeos pretium dictumst est. </p>
    </div>
    <%- include('../components/footer.ejs'); -%>    
</body>
</html>