:root {
    --color-primary-pink:#FF1D84;
    --color-primary-yellow:#FFBF0A;
    --color-primary-green:#00C537:
    --color-primary-dark-green:#001F10;
    --color-primary-white:#FFFFFF;
    --color-primary-black:#000000;

    --color-second-dark-gray:#B4B4B4;
    --color-second-gray:#D9D9D9;

    
  }