header {
    left: 0;
    right: 0;
    top: 25px;
    width: 100%;
    position: fixed;
    margin: 0;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(45, 45, 45, 0.39);
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 15px;
    text-decoration: none;
    color: var(--color-primary-white);
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 10px;
    transition: all .5s;
}

header nav ul li a:hover {
    background: var(--color-primary-pink);
    color: var(--color-primary-dark-green);
}