header {
    left: 0;
    right: 0;
    top: 25px;
    width: 100%;
    position:fixed; 
    background: rgba(45, 45, 45, 0.39);
}
nav{
    padding: 2px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;

}

li {
    display: inline-block;
    margin: 4px;

}